# Nome do workflow que aparecerá na aba "Actions" do GitHub
name: Compilação para Windows (x64)

on:
  push:
    branches: [ "main" ]
    
  # Permite que você execute este workflow manualmente na aba "Actions"
  workflow_dispatch:

jobs:
  # Nome do job (trabalho) que será executado
  build-windows-x64:
    # O tipo de máquina virtual que o GitHub usará para compilar
    runs-on: windows-latest

    steps:
    # Passo 1: Baixa o código do projeto principal ('Unleashed') para uma pasta chamada 'main'
    - name: Checkout do projeto principal
      uses: actions/checkout@v4
      with:
        path: main

    # Passo 2: Baixa as dependências (o seu fork do dosbox-pure e a ZillaLib)
    - name: Checkout das dependências
      run: |
        git clone --single-branch --branch main --depth 1 https://github.com/${{ github.repository_owner }}/dosbox-pure.git dosbox-pure
        git clone --single-branch --branch main --depth 1 https://github.com/${{ github.repository_owner }}/ZillaLib.git ZillaLib

    # Passo 3: Configura o ambiente de compilação MSBuild (Visual Studio)
    - name: Configurar MSBuild
      uses: microsoft/setup-msbuild@v2

    # Passo 4: Gera uma string de versão única para cada compilação
    #          Isso adiciona o ID do commit no arquivo dosbox_pure_ver.h para rastreamento
    - name: Gerar String de Versão
      run: perl -i -pe "s/\"(.*)\"/\"\1-${GITHUB_SHA::7}\"/g" dosbox-pure/dosbox_pure_ver.h
      shell: bash

    # Passo 5: Compila o projeto para gerar o .exe de 64 bits
    - name: Compilar o projeto
      run: |
        cd main
        MSBuild.exe DOSBoxPure-vs.vcxproj /p:Configuration=ReleaseGLCORE /p:Platform=x64

    # Passo 6: Cria o artefato para download
    #          Esta etapa pega o .exe compilado e o disponibiliza para download
    - name: Fazer upload do artefato
      uses: actions/upload-artifact@v4
      with:
        # O nome do arquivo .zip que será gerado para download
        name: dosbox-pure-unleashed_win64
        # O caminho exato para o arquivo .exe que deve ser incluído no .zip
        path: main/Release-vs2022x64/DOSBoxPure.exe